#get-stuff-container
	div(ui-view)
	#loading-get-stuff.noselect.loading-screen.animate-250
		.spinner
			.double-bounce1
			.double-bounce2
		.noselect.loading-text Finding Stuff...
	.search-stuff-container(style="height:40px;background-color:white;padding:0px 15px;")
		i#map-toggle-switch.fa.fa-map.stuff-button.toggle-stuff(ng-click="toggleMap()")
		.sm-input-group(style="top:50%;transform:translateY(-50%);position:relative;left:0px;width:100%;display:block;")
			input#search-stuff.sm-text-input(type='search' placeholder='Search' ng-init="showDistance()" ng-model="searchStuff" multiple="multiple" style="width:calc(100% - 26px);")
			.sm-input-button(style="display: inline-block;width: 26px;position: relative;height: 26px;vertical-align: bottom;border-radius: 3px;")
				i.fa.fa-arrow-right(style="display:block;line-height: 26px;width:100%;text-align: center;")
		i.fa.fa-search(ng-click="filterSearch()")
	#get-stuff-back-button-container.hidden.animate-250
		i.get-stuff-back-button.fa.fa-arrow-left.hidden.animate-250(ng-click="setGetStuff()")
		#get-stuff-item-title.hidden.animate-250
	ion-content#masonry-container.animate-250.hide-masonry-container
		//- if ionic
		//- 	ion-refresher(pulling-text="Pull to refresh..." on-refresh="refresh()")
		ul.masonry-grid
			li.masonry-grid-item(ng-repeat="list in listItems | filter:searchStuff:strict" repeat-done="initMasonry(); getDistance()")
				a(ui-sref="stuff.get.item({id:{{ list.id }}})")
					| {{ item.title }}
					.list-item-img-container(id="post-item-{{ list.id }}")
						img(ng-attr-src="https://cdn.stuffmapper.com{{ list.image_url }}")
						.get-stuff-item-info
							div.noselect {{ list.title }}
						.stuff-item-category-distance-owner(style="float: left;max-width:calc(100% - 84px);text-align: center;") {{ list.category }}
						.stuff-item-category-distance-owner.number(style="float: right;text-align: center;") {{ list.milesAway }} mi.
	#filter-container.filter-container.sm-tab-container
		.filter-content-container.hidden.animate-250
			#filter-head.filter-header
				p.noselect Filters
				#clear-filters-button.clear-filters(ng-click="clearAll(); showDistance()")
					span.fa.fa-times
					span.noselect clear filters
			#distance-from-me
				p.noselect Distance from me
					span
						label#rangeText
				input#rangeInput.distance-slider(type="range", name="rangeInput", step="1", value="20", min="0", max="20")
			//- #newlisting
			//- 	p New listing
			//- 	.filter-label
			//- 		input#newlisting-show(type="checkbox", name="newlisting-show", value="newlisting-show")
			//- 		label(for="newlisting-show") 
			//- 				i.fa.fa-check
			//- 			span only show new listings
			#item-status
				p.noselect Item status
				.filter
					.filter-label
						input#item-status-unattended.item-status-checkbox(type="checkbox", name="item-status-unattended", value="item-status-unattended" checked)
						label(for="item-status-unattended") 
							i.fa.fa-check
							span.noselect unattended
					.filter-label
						input#item-status-contact.item-status-checkbox(type="checkbox", name="item-status-contact", value="item-status-contact" checked)
						label(for="item-status-contact") 
							i.fa.fa-check
							span.noselect contact for pickup
			#categories
				p.noselect Categories
				.select-deselect
						#select-all(ng-click="selectAll()") 
							span.fa.fa-check.animate-250
							span.noselect select all
						#deselect-all(ng-click="deselectAll()") 
							span.fa.fa-times.animate-250
							span.noselect deselect all
				.filter
					- each category in ['general', 'arts & crafts', 'books, games, & media', 'building & garden materials', 'clothing & accessories', 'electronics', 'furniture & household', 'kid & baby items', 'sporting goods']
						.filter-label
							input.category-input(id="#{category.replace(' ','-')}" ng-click="clearSelectDeselect()", type="checkbox", name="#{category.replace(' ','-')}", value="#{category.replace(' ','-')}" checked)
							label(for="#{category.replace(' ','-')}") 
								i.fa.fa-check
								span.noselect #{category}
		.sm-background-semi-opaque.sm-background-dark.hidden.animate-250(ng-click="hideFilter()")
