#get-stuff-container
	div(ui-view)
	#loading-get-stuff.noselect.loading-screen.animate-250
		.spinner
			.double-bounce1
			.double-bounce2
		.noselect.loading-text Finding Stuff...
	.search-stuff-container
		i#map-toggle-switch.fa.fa-map.stuff-button.toggle-stuff.sm-button.sm-button-default.sm-button-ghost(ng-click="toggleMap()" style="border-width: 1px;")
		sm-input-group-button#search-stuff(placeholder="search & filter" submit="filterSearch();hideFilter()")
	#get-stuff-back-button-container.sm-hidden.animate-250
		i.get-stuff-back-button.fa.fa-arrow-left.sm-hidden.animate-250(ng-click="setGetStuff()")
		#get-stuff-item-title.sm-text-m.sm-hidden.animate-250
	ion-content#masonry-container.animate-250.hide-masonry-container
		//- if ionic
		//- 	ion-refresher(pulling-text="Pull to refresh..." on-refresh="refresh()")
		ul.masonry-grid
			li.masonry-grid-item(ng-repeat="list in listItems | filter:searchStuff:strict" repeat-done="initMasonry(); getDistance()")
				a(ui-sref="stuff.get.item({id:{{ list.id }}})")
					| {{ item.title }}
					.list-item-img-container(id="post-item-{{ list.id }}")
						img(ng-attr-src="https://cdn.stuffmapper.com{{ list.image_url }}")
						.get-stuff-item-info
							.noselect(style="font-size: 16px;") {{ list.title }}
							.noselect(style="font-size: 12px;") {{ ( (!list.description || list.description==='undefined')?(''):(list.description.length>50) ? shorten(list.description):(list.description)) }}
						.stuff-item-category-distance-owner(style="left: 7px;") {{ list.category }}
						//- .stuff-item-category-distance-owner.number(style="right: 7px;") {{ list.milesAway }} mi.
	#filter-container.filter-container.sm-tab-container
		.filter-content-container.sm-hidden.animate-250
			#clear-filters-button.sm-text-m.sm-full-width.clear-filters(ng-click="clearAll(); showDistance()")
				span.fa.fa-times(style="padding-right: 5px;padding-left: 1px;")
				span.noselect clear filters
			.sm-button-group(style="width: 100%;display:block;height: 34px;")
				.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
					input#sign-in-sign-in-button.sm-button.sm-button-s.sm-button-ghost.sm-button-negative.sm-text-m(type="button" value="cancel" style="margin:5px 10px;width:calc(100% - 10px);height:36px;line-height: 9px;" ng-click="hideFilter()")
				.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
					input#sign-in-sign-up-button.sm-button.sm-button-s.sm-button-default.sm-text-m(type="button" value="apply" style="margin:5px 10px;width:calc(100% - 10px);float: left;height:36px;line-height: 9px;" ng-click="filterSearch();hideFilter()")
			#distance-from-me.sm-text-m.sm-full-width
				p.noselect Distance from me
					span
						label#rangeText
				input#rangeInput.distance-slider(type="range", name="rangeInput", step="1", value="20", min="0", max="20")
			#item-status.sm-text-m.sm-full-width
				p.noselect Item status
				.filter
					.filter-label
						input#item-status-both.item-status-checkbox(type="radio", name="item-status-un-attended", value="item-status-both" checked)
						label(for="item-status-both" style="margin-left: 5px;") 
							span.noselect attended and unattended stuff
					.filter-label
						input#item-status-attended.item-status-checkbox(type="radio", name="item-status-un-attended", value="item-status-attended")
						label(for="item-status-attended" style="margin-left: 5px;") 
							span.noselect attended stuff only
				.filter-label
					input#item-status-unattended.item-status-checkbox(type="radio", name="item-status-un-attended", value="item-status-unattended")
					label(for="item-status-unattended" style="margin-left: 5px;")
						span.noselect unattended stuff only
			#categories.sm-text-m.sm-full-width
				p.noselect Categories
				.select-deselect
						#select-all.select-option(ng-click="selectAll()") 
							span.fa.fa-check.animate-250(style="padding-right: 5px;padding-left: 1px;")
							span.noselect select all
						#deselect-all.deselect-option(ng-click="deselectAll()") 
							span.fa.fa-times.animate-250(style="padding-right: 5px;padding-left: 1px;")
							span.noselect deselect all
				.filter
					- each category in ['general', 'arts & crafts', 'books, games, & media', 'building & garden materials', 'clothing & accessories', 'electronics', 'furniture & household', 'kids & babies', 'recreation']
						.filter-label
							input.category-input(id="#{category.split(' ').join('-')}" ng-click="clearSelectDeselect()", type="checkbox", name="#{category.split(' ').join('-')}", value="#{category.split(' ').join('-')}" checked)
							label(for="#{category.split(' ').join('-')}") 
								span.noselect #{category}
		.sm-background-semi-opaque.sm-background-dark.sm-hidden.animate-250(ng-click="hideFilter()")
