doctype html
html(lang='en')
    head
        title #{title} - Stuffmapper
        meta(name='description', content='#{description}')
        meta(name='keywords', content="stuffmapper, free stuff, give stuff, reusable stuff, get stuff")
        meta(property='og:title', content='#{title}')
        meta(property='og:description', content="#{description}")
        meta(property='og:image', content='#{image_url}')
        meta(property='og:url', content='#{url}')
        meta(property='og:type', content='website')
    body