doctype html
-
	var htmlClassList = [];
	if(loggedIn) htmlClassList.push('loggedIn');
	if(ionic) htmlClassList.push('ionic');
	else if(electron) htmlClassList.push('electron');
	htmlClassList = htmlClassList.join(' ');
html(lang="en" class= htmlClassList ng-app="stuffMapp")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width, height=device-height")
		meta(name="theme-color" content="#9FD661")
		//- link(rel="icon" sizes="192x192" href="nice-highres.png")
		script var subdomain = "#{config.subdomain}";
		title Stuffmapper
		if ionic
			script.
				var deviceType = (navigator.userAgent.match(/iPad/i))  == "iPad" ? "iPad" : (navigator.userAgent.match(/iPhone/i))  == "iPhone" ? "iPhone" : (navigator.userAgent.match(/Android/i)) == "Android" ? "Android" : (navigator.userAgent.match(/BlackBerry/i)) == "BlackBerry" ? "BlackBerry" : "null";
				var d = document.documentElement;
				if(/iPad|iPhone|iPod/.test(deviceType)){
					d.className += ' ios';
					document.getElementsByTagName('html')[0].className += ' ios'
				}
				else {
					d.className += ' android';
					document.getElementsByTagName('html')[0].className += ' android'
				}
				var path = window.location.pathname.split('/');
				path.pop();
				path = path.join('/') + '/';
				var section = document.querySelector('head');
				var base = document.createElement('base');
				base.href = path
				section.insertBefore(base, section.firstChild);
		else if electron
			link(href="/styleguide/css/main.css" rel="stylesheet")
		else
			base(href="/")
			link(href="/styleguide/css/main.css" rel="stylesheet")
		link(href="js/lib/normalize-css/normalize.css" rel="stylesheet")
		link(href="js/lib/animate.css/animate.min.css" rel="stylesheet")
		link(href="css/main.app.min.css" rel="stylesheet")
		link(href="js/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
		link(href="css/font-awesome.min.css" rel="stylesheet")
		script(src="https://maps.google.com/maps/api/js?libraries=geometry")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-51018551-1', 'auto');
			ga('send', 'pageview');
		//- ?key=AIzaSyC9wZTqNMPxl86PtJuR4Dq3TzS_hByOs3U")
		//- script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js")
		//- link(href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css" rel="stylesheet")
		//- script(src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js")
		//- link(href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet")
		if ionic
			//- link(href="lib/ionic/css/ionic.css" rel="stylesheet")
			script(src="cordova.js")
			script(src="https://#{config.subdomain}.stuffmapper.com/socket.io/socket.io.js")
			script(src="lib/ionic/js/ionic.bundle.js")
			script(src="lib/ngCordova/dist/ng-cordova.min.js")
			script(src="lib/ng-cordova-oauth/dist/ng-cordova-oauth.min.js")
		if electron
			script(src="https://#{config.subdomain}.stuffmapper.com/socket.io/socket.io.js")
		else
			script(src="socket.io/socket.io.js")
			script(src="js/angular.js")
		script(src="https://js.braintreegateway.com/js/braintree-2.26.0.min.js")
		script(src="https://use.typekit.net/lrm3jdv.js")
		script.
			try{Typekit.load({ async: true });}catch(e){}
		script(src="js/all.js")
		script(id="templates/partial-home-getstuff.html" type="text/ng-template")
			include ./partials/home/partial-home-getstuff
		script(id="templates/blank.html" type="text/ng-template").
			div(style="display:none;")
		script(id="templates/partial-home-get-item-single-map.html" type="text/ng-template")
			include ./partials/home/partial-home-get-item-single-map
		script(id="templates/partial-home-my.html" type="text/ng-template")
			include ./partials/home/partial-home-my
		script(id="templates/partial-home-conversation.html" type="text/ng-template")
			include ./partials/home/partial-home-conversation
		script(id="templates/partial-home-settings.html" type="text/ng-template")
			include ./partials/home/partial-home-settings
		script(id="templates/partial-home-messages.html" type="text/ng-template")
			include ./partials/home/partial-home-messages
		script(id="templates/partial-home-watchlist.html" type="text/ng-template")
			include ./partials/home/partial-home-watchlist
		script(id="templates/partial-home-givestuff.html" type="text/ng-template")
			include ./partials/home/partial-home-givestuff
		script(id="templates/partial-home-mystuff.html" type="text/ng-template")
			include ./partials/home/partial-home-mystuff
		script(id="templates/partial-home.html" type="text/ng-template")
			include ./partials/home/partial-home
		script(id="templates/partial-about.html" type="text/ng-template")
			include ./partials/about/partial-about
		script(id="templates/partial-privacy.html" type="text/ng-template")
			include ./partials/privacy/partial-privacy
		script(id="templates/partial-useragreement.html" type="text/ng-template")
			include ./partials/useragreement/partial-useragreement
		script(id="templates/partial-faq.html" type="text/ng-template")
			include ./partials/faq/partial-faq
		if ionic
			script(id="templates/partial-login-steps.html" type="text/ng-template")
				include ./partials/login/partial-login-steps
			script(id="templates/partial-login-setup1.html" type="text/ng-template")
				include ./partials/login/partial-login-setup1
			script(id="templates/partial-login-setup2.html" type="text/ng-template")
				include ./partials/login/partial-login-setup2
			script(id="templates/partial-login-page.html" type="text/ng-template")
				include ./partials/login/partial-login-page
	body(ng-controller="MainController")
		//- #lock-screen(style="z-index: 999999;position:fixed;top:0px;left:0px;width:100%;height:100%;background-color:rgba(0,0,0,0.4);")
		//- 	#lock-modal
		//- 		img#lock-logo(src="/img/sharing-header.png" style="width:100%;")
		//- 		link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
		//- 		style(type='text/css').
		//- 			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
		//- 		#mc_embed_signup
		//- 			form#mc-embedded-subscribe-form.validate(action='//stuffmapper.us8.list-manage.com/subscribe/post?u=1457dd037ad3832bd31680813&id=784c72162a', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
		//- 				#mc_embed_signup_scroll
		//- 					h2 Want to know when we're ready? We'll let you know!
		//- 					.indicates-required
		//- 						span.asterisk *
		//- 						|  indicates required
		//- 					.mc-field-group
		//- 						label(for='mce-EMAIL')
		//- 								| Email Address  
		//- 							span.asterisk *
		//- 						input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
		//- 					.mc-field-group
		//- 						label(for='mce-FNAME') First Name 
		//- 						input#mce-FNAME(type='text', value='', name='FNAME')
		//- 					.mc-field-group
		//- 						label(for='mce-LNAME') Last Name 
		//- 						input#mce-LNAME(type='text', value='', name='LNAME')
		//- 					.mc-field-group
		//- 						label(for='mce-WHERE') How did you hear about us? 
		//- 						input#mce-WHERE(type='text', value='', name='WHERE')
		//- 					#mce-responses.clear
		//- 						#mce-error-response.response(style='display:none')
		//- 						#mce-success-response.response(style='display:none')
		//- 					// real people should not fill this in and expect good things - do not remove this or risk form bot signups
		//- 					div(style='position: absolute; left: -5000px;', aria-hidden='true')
		//- 						input(type='text', name='b_1457dd037ad3832bd31680813_784c72162a', tabindex='-1', value='')
		//- 					.clear
		//- 						input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
		//- 		script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
		//- 		script(type='text/javascript') (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='WHERE';ftypes[4]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
		//- 		#lock-sm
		//- 			a#lock-fb(href="https://www.facebook.com/stuffmapper")
		//- 				i.fa.fa-facebook-square
		//- 				| facebook.com/stuffmapper
		//- 			a#lock-twitter(href="https://www.twitter.com/stuffmapper")
		//- 				i.fa.fa-twitter-square
		//- 				| @stuffmapper
		//- 			a#lock-instagram(href="https://www.instagram.com/stuffmapper")
		//- 				i.fa.fa-instagram
		//- 				| @stuffmapper
		#modal-windows
			.modal-windows-bg.animate-250
			.modal-container.modal-container.animate-500
				.close-modal-bg(ng-click="hideModal()")
				.modal-window
					.modal-header
					.modal-close(ng-click="hideModal()")
						i.fa.fa-close
					.sm-modal-content
						.modal-steps
							#sign-in-step.modal-step.animate-250.active
								h2.sm-modal-title.animate-250 Sign In
								.sign-in-up-input.social-button.google-plus-sign-in(ng-click="googleOAuth()")
									img.social-sign-in-icon.social-sign-in-icon-google(src="img/google-g-logo.svg")
									span.social-sign-in-text.sm-text-m Sign in with Google
								.sign-in-up-input.social-button.facebook-sign-in(ng-click="facebookOAuth()")
									img.social-sign-in-icon.social-sign-in-icon-facebook(src="img/facebook-f-logo.svg")
									span.social-sign-in-text.sm-text-m Sign in with Facebook
								span.sign-in-local-text — or use your email —
								input#sign-in-email.sm-sign-in-text-inputs.sm-text-input.sm-text-input-full-width(type="text" placeholder="email address")
								input#sign-in-password.sm-sign-in-text-inputs.sm-text-input.sm-text-input-full-width(type="password" placeholder="password")
								.sm-button-group(style="width: 100%;display:block;")
									.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
										input#sign-in-sign-in-button.sm-button.sm-button-default.sm-text-m(type="button" value="Sign In" ng-click="login()" style="margin:20px 10px;width:calc(100% - 10px);")
									.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
										input#sign-in-sign-up-button.sm-button.sm-button-default.sm-text-m(type="button" value="Sign Up" ng-click="signUpStep()" style="margin:20px 10px;width:calc(100% - 10px);float: left;")
							#sign-up-step.modal-step.animate-250.hidden-modal
								h2.sm-modal-title Sign Up
								.modal-back-button(ng-click="signUpBack()")
								input#sign-up-uname.sm-sign-up-text-inputs.sm-text-input.sm-text-input-full-width(type="text" placeholder="username *")
								input#sign-up-email.sm-sign-up-text-inputs.sm-text-input.sm-text-input-full-width(type="text" placeholder="email address *")
								input#sign-up-password1.sm-sign-up-text-inputs.sm-text-input.sm-text-input-full-width(type="password" placeholder="password *")
								input#sign-up-fname.sm-sign-up-text-inputs.sm-text-input.sm-text-input-full-width(type="text" placeholder="first name *")
								input#sign-up-lname.sm-sign-up-text-inputs.sm-text-input.sm-text-input-full-width(type="text" placeholder="last name *")
								#toggle-password-visibility.fa.fa-eye(ng-click="toggleVisibility()")
								.sm-text-s.sm-full-width(style="margin-bottom: 0px") *required field
								#sign-up-step-message-container.sm-full-width
									#sign-up-step-message.sm-text-s no error
								.privacy-and-terms-container
									p(style="margin: 0 auto;font-size: 14px;text-align: center;width:90%;")
										| By clicking "Sign Up", you agree to the 
										a(ui-sref="privacy", ng-click="hideModal()") Privacy 
										| and 
										a(ui-sref="useragreement", ng-click="hideModal()") Terms
								input#sm-sign-up-button.sm-button.sm-button-default.sm-text-l.sm-button-full-width(type="button" value="Sign Up" ng-click="signUp()")
							#confirmation-step.modal-step.animate-250.hidden-modal
								h2.sm-modal-title Almost Done!
								.modal-back-button(ng-click="signUpBack()")
								.confirmation-container
									.sm-text-l.sm-full-width.confirmation-text-top Please check your email
									#confirmation-step-icon.fa.fa-check-circle.sm-hidden
									.sm-text-l.sm-full-width.confirmation-text-bottom to verify your account
								input#sm-sign-up-ok-fine-button.sm-button.sm-button-default.sm-button-full-width(type="button" value="Ok" ng-click="hideModal()")
		#popups
			#profile-popup.popups.popups-top-right.animate-250.hidden-popup
				//- li
				//- 	i.fa.fa-clock-o
				//- 	span(ui-sref="stuff.my.watchlist") Watchlist
				li
					i.fa.fa-rocket
					span(ui-sref="about") About Us
				li
					i.fa.fa-cog
					span(ui-sref="stuff.my.settings") Settings
				li
					i.fa.fa-question
					span(ui-sref="faq") FAQ
				li
					i.fa.fa-user-secret
					span(ui-sref="privacy") Privacy
				li
					i.fa.fa-file-text
					span(ui-sref="useragreement") Terms
				li#sign-out-option-dropdown(style="display:none;")
					i.fa.fa-sign-out
					span(ng-click="logout()") Sign Out
		ul#side-menu.side-menu.sm-hidden.animate-250
			#close-menu-button.fa.fa-times(ng-click="toggleSideMenu()")
			li.side-menu-header
			li.side-menu-item
				a.side-menu-link(ui-sref="about", ng-click="toggleSideMenu()")
					.side-menu-icon.fa.fa-rocket
					span About Us
			//- li.side-menu-item
			//- 	a.side-menu-link(ui-sref="stuff.my.watchlist", ng-click="toggleSideMenu()")
			//- 		.side-menu-icon.fa.fa-bookmark
			//- 		span Watchlist
			li.side-menu-item
				a.side-menu-link(ui-sref="stuff.my.settings", ng-click="toggleSideMenu()")
					.side-menu-icon.fa.fa-wrench
					span Profile & Settings
			li.side-menu-item
				a.side-menu-link(ui-sref="faq", ng-click="toggleSideMenu()")
					.side-menu-icon.fa.fa-question
					span FAQ/Help
			li#side-menu-logout.side-menu-item(style="display:none;")
				a.side-menu-link(ng-click="logout(); toggleSideMenu();")
					.side-menu-icon.fa.fa-sign-out
					span Sign Out
			.side-menu-footer
				a(ui-sref="/faq#landfill-tracker")
					.new-thing Stuff saved from landfill  
					#landfill-tracker-menu
				#stuffmapper-logo-container-menu
					img#logo-menu(src="img/logo-txt-only-bold.png" ng-click="aboutUs(); toggleSideMenu()")
					.tiny-links
						a(ui-sref="about", ng-click="toggleSideMenu()") about
						span.tiny-links-separator |
						a(ui-sref="useragreement", ng-click="toggleSideMenu()") terms
						span.tiny-links-separator |
						a(ui-sref="privacy", ng-click="toggleSideMenu()") privacy
		#side-menu-background.side-menu-background.animate-250.sm-hidden(ng-click="toggleSideMenu()")
		#container
			#header
				#header-menu-icon-container(ng-click="toggleSideMenu()")
					#header-menu-icon.menu-icon.fa.fa-bars
				a(ui-sref="stuff.get")
					img#logo(src="img/logo-txt-only-bold.png" )
				#landfill-tracker-header
				#landfill-tracker-description.sm-text-xs Stuff saved from landfill
				#user-portal
					i#sign-in-button.fa.fa-bars(ng-click="userButton()")
			#content.animate-500(ui-view)
