-
	var htmlClassList = [];
	if(loggedIn) htmlClassList.push('loggedIn');
	if(ionic) htmlClassList.push('ionic');
	else if(electron) htmlClassList.push('electron');
	htmlClassList = htmlClassList.join(' ');
doctype html
html(lang="en" class= htmlClassList ng-app="stuffMapp")
	head
		meta(charset="utf-8")
		base(href="/")
		script(type='text/javascript').
			var viewportMeta = document.createElement("meta");
			var content = "initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width, height=device-height";
			viewportMeta.name = "viewport";
			if ((navigator.userAgent.match(/iPhone/i)) || (navigator.userAgent.match(/iPod/i))) {
				if (navigator.userAgent.indexOf("Safari") !== -1) {
					content = "user-scalable=no, shrink-to-fit=no";
					document.documentElement.addEventListener('gesturestart', function (event) {
						event.preventDefault();
					}, false);
				}
			}
			viewportMeta.content = content;
			document.getElementsByTagName("head")[0].appendChild(viewportMeta);
			
		meta(name="theme-color" content="#9FD661")
		link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
		link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
		link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
		link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
		link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
		link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
		link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
		link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
		link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
		link(rel='manifest', href='/manifest.json')
		meta(name='msapplication-TileColor', content='#ffffff')
		meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
		meta(name='theme-color', content='#ffffff')
		//- link(rel="icon" sizes="192x192" href="nice-highres.png")
		script var subdomain = "#{config.subdomain}";
		//title Stuffmapper
		title(ng-bind='MetaTags.title') Stuffmapper
		meta(name='description', content='{{MetaTags.description}}')
		meta(name='keywords', content='{{MetaTags.keywords}}')
		meta(name="fragment" content="!")
		meta(ng-repeat='(key, value) in MetaTags.properties', property='{{key}}', content='{{value}}')
		meta(property="og:type" content="website")
		meta(property='og:image:width', content='200')
		meta(property='og:image:height', content='200')
		//- Facebook Pixel Code
		script.
			!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
			n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
			document,'script','https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '732563186893526'); // Insert your pixel ID here.
			fbq('track', 'PageView');
		noscript
			img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=732563186893526&ev=PageView&noscript=1")
		//- DO NOT MODIFY
		//- End Facebook Pixel Code
		if ionic
			script.
				var deviceType = (navigator.userAgent.match(/iPad/i))  == "iPad" ? "iPad" : (navigator.userAgent.match(/iPhone/i))  == "iPhone" ? "iPhone" : (navigator.userAgent.match(/Android/i)) == "Android" ? "Android" : (navigator.userAgent.match(/BlackBerry/i)) == "BlackBerry" ? "BlackBerry" : "null";
				var d = document.documentElement;
				if(/iPad|iPhone|iPod/.test(deviceType)){
					d.className += ' ios';
					document.getElementsByTagName('html')[0].className += ' ios'
				}
				else {
					d.className += ' android';
					document.getElementsByTagName('html')[0].className += ' android'
				}
				var path = window.location.pathname.split('/');
				path.pop();
				path = path.join('/') + '/';
				var section = document.querySelector('head');
				var base = document.createElement('base');
				base.href = path
				section.insertBefore(base, section.firstChild);
			link(href="css/iconic.app.min.css" rel="stylesheet")
		else
			if config.subdomain == 'https://www.stuffmapper.com'
				//- Hotjar Tracking Code for www.stuffmapper.com
				script.
					(function(h,o,t,j,a,r){
						h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
						h._hjSettings={hjid:409836,hjsv:5};
						a=o.getElementsByTagName('head')[0];
						r=o.createElement('script');r.async=1;
						r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
						a.appendChild(r);
					})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');

				//- Chatra {literal}
				script.
					(function(d, w, c) {
						w.ChatraID = '5oMzBM7byxDdNPuMf';
						var s = d.createElement('script');
						w[c] = w[c] || function() {
									(w[c].q = w[c].q || []).push(arguments);
								};
						s.async = true;
						s.src = (d.location.protocol === 'https:' ? 'https:': 'http:')
								+ '//call.chatra.io/chatra.js';
						if (d.head) d.head.appendChild(s);
					})(document, window, 'Chatra');
		//link(href="js/lib/normalize-css/normalize.css" rel="stylesheet")
		//link(href="js/lib/swiper/dist/css/swiper.min.css" rel="stylesheet")
		//- link(href="js/lib/intl-tel-input/build/css/intlTelInput.css" rel="stylesheet")
		//- link(href="js/lib/animate.css/animate.min.css" rel="stylesheet")
		link(href="css/styles.min.css" rel="stylesheet")
		//- link(href="js/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
		style.
			html {
				font-size: 10px;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
			}
			img {
				vertical-align: middle;
			}
			body {
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				font-size: 14px;
				line-height: 1.42857143;
				color: #333;
				background-color: #fff;
			}
			*, :after, :before {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			label {
				display: inline-block;
				max-width: 100%;
				margin-bottom: 5px;
				font-weight: 700;
			}
		//link(href="css/font-awesome.min.css" rel="stylesheet")
		//- script(src="https://maps.google.com/maps/api/js")
		//- script(src="https://maps.google.com/maps/api/js?libraries=geometry")
		script(async,defer,src="https://maps.google.com/maps/api/js?key=AIzaSyC9wZTqNMPxl86PtJuR4Dq3TzS_hByOs3U&libraries=geometry")
		//- ?key=AIzaSyC9wZTqNMPxl86PtJuR4Dq3TzS_hByOs3U")
		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-51018551-1', 'auto');
			ga('send', 'pageview');
		//- script(src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js")
		//- link(href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css" rel="stylesheet")
		//- script(src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js")
		//- link(href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet")
		if ionic
			//- link(href="lib/ionic/css/ionic.css" rel="stylesheet")
			script(src="cordova.js")
			script(src="https://#{config.subdomain}.stuffmapper.com/socket.io/socket.io.js")
			script(src="lib/ionic/js/ionic.bundle.js")
			script(src="lib/ngCordova/dist/ng-cordova.min.js")
			script(src="lib/ng-cordova-oauth/dist/ng-cordova-oauth.min.js")
		else if electron
			script(src="https://#{config.subdomain}.stuffmapper.com/socket.io/socket.io.js")
		else
			script(async,src="socket.io/socket.io.js")
			//script(src="js/lib/angular/angular.min.js")
		script(async,src="https://js.braintreegateway.com/js/braintree-2.26.0.min.js")
		script(async,src="https://use.typekit.net/lrm3jdv.js")
		script.
			try{Typekit.load({ async: true });}catch(e){}
		script(async,defer,src="js/all.min.js")
		script(id="templates/partial-home-getstuff.html" type="text/ng-template")
			include ./partials/home/partial-home-getstuff
		script(id="templates/blank.html" type="text/ng-template").
			div(style="display:none;")
		script(id="templates/partial-home-get-item-single-map.html" type="text/ng-template")
			include ./partials/home/partial-home-get-item-single-map
		script(id="templates/partial-home-my.html" type="text/ng-template")
			include ./partials/home/partial-home-my
		script(id="templates/partial-home-conversation.html" type="text/ng-template")
			include ./partials/home/partial-home-conversation
		script(id="templates/partial-home-settings.html" type="text/ng-template")
			include ./partials/home/partial-home-settings
		script(id="templates/partial-home-watchlist.html" type="text/ng-template")
			include ./partials/home/partial-home-watchlist
		script(id="templates/partial-home-givestuff.html" type="text/ng-template")
			include ./partials/home/partial-home-givestuff
		script(id="templates/partial-home-mystuff.html" type="text/ng-template")
			include ./partials/home/partial-home-mystuff
		script(id="templates/partial-home-myitem.html" type="text/ng-template")
			include ./partials/home/partial-home-myitem
		script(id="templates/partial-home.html" type="text/ng-template")
			include ./partials/home/partial-home
		script(id="templates/partial-about.html" type="text/ng-template")
			include ./partials/about/partial-about
		script(id="templates/partial-privacy.html" type="text/ng-template")
			include ./partials/privacy/partial-privacy
		script(id="templates/partial-useragreement.html" type="text/ng-template")
			include ./partials/useragreement/partial-useragreement
		script(id="templates/partial-faq.html" type="text/ng-template")
			include ./partials/faq/partial-faq
		if ionic
			script(id="templates/partial-login-steps.html" type="text/ng-template")
				include ./partials/login/partial-login-steps
			script(id="templates/partial-login-setup1.html" type="text/ng-template")
				include ./partials/login/partial-login-setup1
			script(id="templates/partial-login-setup2.html" type="text/ng-template")
				include ./partials/login/partial-login-setup2
			script(id="templates/partial-login-page.html" type="text/ng-template")
				include ./partials/login/partial-login-page
	body(ng-controller="MainController")
		//- #lock-screen.animate-500(style="z-index: 999999;position:fixed;top:0px;left:0px;width:100%;height:100%;background-color:rgba(0,0,0,0.4);opacity:0.0001;pointer-events: none;")
		//- 	#lock-modal-bg(style="z-index:1;position:absolute;top:0px;left:0px;width:100%;height:100%;" ng-click="closeLockScreen()")
		//- 	#lock-modal(style="z-index:2;")
		//- 		img#lock-logo(src="/img/sharing-header.png" style="width:100%;")
		//- 		.fa.fa-times(style="z-index: 2;color: #fff;position: absolute;top: 1px;right: 5px;padding: 5px;width: 24px;height: 24px;cursor: pointer;font-size: 22px;" ng-click="closeLockScreen()")
		//- 		link(href='//cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
		//- 		style(type='text/css').
		//- 			#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
		//- 		#mc_embed_signup
		//- 			form#mc-embedded-subscribe-form.validate(action='//stuffmapper.us8.list-manage.com/subscribe/post?u=1457dd037ad3832bd31680813&id=784c72162a', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
		//- 				#mc_embed_signup_scroll
		//- 					h2 Want to know when we're ready? We'll let you know!
		//- 					.indicates-required
		//- 						span.asterisk *
		//- 						|  indicates required
		//- 					.mc-field-group
		//- 						label(for='mce-EMAIL')
		//- 								| Email Address
		//- 							span.asterisk *
		//- 						input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
		//- 					.mc-field-group
		//- 						label(for='mce-FNAME') First Name
		//- 						input#mce-FNAME(type='text', value='', name='FNAME')
		//- 					.mc-field-group
		//- 						label(for='mce-LNAME') Last Name
		//- 						input#mce-LNAME(type='text', value='', name='LNAME')
		//- 					.mc-field-group
		//- 						label(for='mce-WHERE') How did you hear about us?
		//- 						input#mce-WHERE(type='text', value='', name='WHERE')
		//- 					#mce-responses.clear
		//- 						#mce-error-response.response(style='display:none')
		//- 						#mce-success-response.response(style='display:none')
		//- 					// real people should not fill this in and expect good things - do not remove this or risk form bot signups
		//- 					div(style='position: absolute; left: -5000px;', aria-hidden='true')
		//- 						input(type='text', name='b_1457dd037ad3832bd31680813_784c72162a', tabindex='-1', value='')
		//- 					.clear
		//- 						input#mc-embedded-subscribe.button(type='submit', value='Subscribe', name='subscribe')
		//- 		script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
		//- 		script(type='text/javascript') (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[4]='WHERE';ftypes[4]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
		//- 		#lock-sm
		//- 			a#lock-fb(href="https://www.facebook.com/stuffmapper")
		//- 				i.fa.fa-facebook-square
		//- 				| facebook.com/stuffmapper
		//- 			a#lock-twitter(href="https://www.twitter.com/stuffmapper")
		//- 				i.fa.fa-twitter-square
		//- 				| @stuffmapper
		//- 			a#lock-instagram(href="https://www.instagram.com/stuffmapper")
		//- 				i.fa.fa-instagram
		//- 				| @stuffmapper
		//-------------------------------------------------------------------------
		//-------------------------------------------------------------------------
		//-------------------------------------------------------------------------
		#lock-screen.animate-500(style="z-index: 999999;position:fixed;top:0px;left:0px;width:100%;height:100%;background-color:rgba(0,0,0,0.4);opacity:0.0001;pointer-events: none;")
			#lock-modal-bg(style="z-index:1;position:absolute;top:0px;left:0px;width:100%;height:100%;" ng-click="closeLockScreen()")
			#lock-modal(style="z-index:2;")
				img#lock-logo(src="/img/sharing-header.png" style="width:100%;")
				.fa.fa-times(style="z-index: 2;color: #fff;position: absolute;top: 1px;right: 5px;padding: 5px;width: 24px;height: 24px;cursor: pointer;font-size: 22px;" ng-click="closeLockScreen()")
				.lock-modal-container(style="margin: 0 auto; width:100%;max-width: 1024px;")
					.sm-full-width
						h2 Stuffmapper is a safer and easier experience for giving and getting free reusable stuff.
						.lock-modal-column
							h4 Looking for something?
							.sm-text-s Search the map or scroll the offerings.
							ul
								li Pay $1 to Dibs it and get exclusive messaging with the lister. The item is hidden from everyone else while you have the Dibs!
						.lock-modal-column
							h4 Want to give something away?
							.sm-text-s List the item on Stuffmapper.
							ul
								li The first person to Dibs your item gets exclusive messaging with you -- no more wasting time answering questions from countless people. Simply coordinate with that one interested person to exchange your item.
								li When you list items, the location is always approximate.
						p Stuffmapper’s purpose is to advance the free reusable stuff movement. We launched this project in 2014 because innovation, optimization, and modern technology were lacking in the free stuff realm. Thanks to the continued enthusiastic and encouraging support from the community, our mission of <strong>saving millions of items from landfills</strong> everywhere is coming true.
						p Thank you!<br>~Team Stuffmapper
						button.sm-button.sm-button-default.sm-button-full-width.sm-text-m(style="margin-top:10px;" ng-click="closeLockScreen()") Continue to Stuffmapper
		#modal-windows
			#modal-bg.modal-windows-bg.modal-bg-hidden.animate-250
			#sign-in-up-modal.modal-window.modal-window-hidden.animate-500
				#swiper-container.swiper-container(style="transition:opacity 250ms;-webkit-transition:opacity 250ms;-moz-transition:opacity 250ms;-ms-transition:opacity 250ms;-o-transition:opacity 250ms;display:none;z-index:4;background-color:rgba(139, 195, 74, 1.0);opacity:1;pointer-events:all;width:100%;height:100%;position:absolute;top:0px;left:0px;")
					.swiper-wrapper
						.swiper-slide(style="background-color:rgba(51, 174, 220, 1.0);")
							.sm-full-width(style="text-align:center;margin-top: 40px;color:#fff;font-size:20px;") Allow location! Stuffmapper works best when it’s local!
							img(src="/img/location-image.png" style="max-height: 250px;margin: 0 auto;position: relative;display: block;")
							.sm-full-width(style="text-align:center;color:#fff;font-size:16px;") Allow location in your browser to exchange stuff in your area!
						.swiper-slide(style="background-color:rgba(139, 195, 74, 1.0);")
							.sm-full-width(style="text-align:center;margin-top: 40px;color:#fff;font-size:20px;") Free reusable stuff lives on<br />Stuffmapper!
							img(src="/img/sharing_is_caring.png" style="max-height: 250px;margin: 0 auto;position: relative;display: block;")
							.sm-full-width(style="text-align:center;color:#fff;font-size:16px;") Stuffmapper is for givers and getters of donated stuff who want a secure and anonymous reliable exchange.
						.swiper-slide(style="background-color:rgba(128, 103, 183, 1.0);")
							.sm-full-width(style="color: #fff;margin-top: 40px;font-size: 20px;text-align: center;") Find perfectly good reusable items and reserve it with Dibs!
							div(style="background-color:rgba(227, 222, 238, 1.0);width:100%;height:235px;display:block;position:relative;")
								div(style="background-color: rgba(128, 103, 183, 1.0);color: #fff;margin: 0 auto;font-size: 57px;text-align: center;width: 260px;border-radius: 10px;height: 90px;line-height: 90px;top: 50%;position: absolute;left: 50%;transform: translate(-50%, -50%);") Dibs!
							.sm-full-width(style="color:#fff;") Dibs lets you…
							ul.sm-full-width(style="color:#fff;")
								li hide items from everyone else on the map
								li get exclusive messaging with the person who posted the item to complete the exchange
						.swiper-slide(style="background-color:rgba(235, 87, 103, 1.0);")
							.sm-full-width(style="color: #fff;margin-top: 40px;font-size: 20px;text-align: center;") Outgrown your goods? Someone will appreciate your stuff!
							img.sm-full-width(style="height:220px; width: auto;margin:0 auto;" src="/img/give-pic-empty-01.png")
							.sm-full-width(style="text-align:center;color:#fff;font-size:16px;") Easily take a picture to list an item and give your stuff a second life! You can also list free unattended items on the curb.
						.swiper-slide(style="background-color:rgba(59, 175, 218, 1.0);")
							.sm-full-width(style="color: #fff;margin-top: 40px;font-size: 20px;text-align: center;") Safely and reliably exchange with people who won’t waste your time
							div(style="height:183px; width: 100%;background-color:rgba(154, 213, 235, 1.0);")
								img(src="/img/speech-bubbles.png" style="max-height: 183px;margin: 0 auto;position: relative;display: block;")
							.sm-full-width(style="color:#fff;") Here’s how…
							ul.sm-full-width(style="color:#fff;")
								li anonymous in-app messaging and usernames — you don’t have to share your email or phone #
								li HTTPS encryption to keep your data safe
								li Dibs, which encourages people to follow through in picking up items
						.swiper-slide(style="background-color:rgba(71, 71, 71, 1.0);")
							img(src="/img/planet_stuffmapper.png" style="max-height: 190px;margin: 0 auto;position: relative;display: block;")
							.sm-full-width(style="color: #fff;margin-top: 40px;font-size: 16px;text-align: center;") Since 2014, Stuffmapper’s purpose has been to advance the free reusable stuff movement.<br/>Join us in our mission to save millions of items from landfills everywhere!
							a.sm-full-width(href="https://www.facebook.com/stuffmapper" target="_blank" style="background-color: #33AEDC;border-radius: 7px;padding: 10px 0px;")
								i.fa.fa-facebook-square(style="color: white;font-size: 80px;padding: 10px 20px;display: inline-block;vertical-align: bottom;width: 106px;")
								span(style="color: white;font-size: 16px;width: calc(100% - 106px);display: inline-block;padding: 3px;") Join us in finding good reusable stuff a home. Like us on Facebook to be informed of special updates and giveaways!
					.swiper-pagination
					.swiper-button-prev.sm-text-m(style="background-image: none;color:#fff;bottom: -14px;top: initial;left: 10px;") Back
					.swiper-button-next.sm-text-m(style="background-image: none;color: #fff;bottom: -14px;top: initial;left: initial;right: 14px;") Next
					#swiper-button-done.swiper-button-done.sm-text-m(style="cursor:pointer;z-index:9999999;position:absolute;width: 48px;height: 21px;background-color:rgba(71, 71, 71, 1.0);color: #fff;bottom: 9px;top: initial;left: initial;right: 0px;text-align: center;display: none;") Go!
					#swiper-button-skip.swiper-button-skip.sm-text-m(style="cursor:pointer;color: #fff;position: absolute;top: 7px;right: 7px;z-index: 2;") Skip
				.modal-header
				.modal-close(ng-click="hideModal('sign-in-up-modal')")
					i.fa.fa-close
				.sm-modal-content
					.modal-steps
						#sign-in-step.modal-step.animate-250.hidden-modal
							h2.sm-modal-title.animate-250 Sign in
							a.get-item-message-lister(href="javascript:void(0)" ng-click="signInUpNewStep()", style="color: #fff;") Don't have an account? >
							.sign-in-up-input.social-button.google-plus-sign-in(ng-click="googleOAuth()")
								img.social-sign-in-icon.social-sign-in-icon-google(src="img/google-g-logo.svg")
								span.social-sign-in-text.sm-text-m Sign in with Google
							.sign-in-up-input.social-button.facebook-sign-in(ng-click="facebookOAuth()")
								img.social-sign-in-icon.social-sign-in-icon-facebook(src="img/facebook-f-logo.svg")
								span.social-sign-in-text.sm-text-m Sign in with Facebook
							span.sm-full-width
								hr
							//.sm-full-width.sm-text-s
							//	p(style="text-align: center;")
							//		| By clicking "Sign In", you agree to the
							//		a(href="/privacy" target="_blank" style="margin-left: 3px;margin-right:3px;") Privacy
							//		| and
							//		a(href="/useragreement" target="_blank" style="margin-left: 3px;") Terms
							span.sm-full-width.sm-text-m(style="text-align: center;") Or sign in with email:
							label.input-label.sm-full-width.sm-text-m(for='sign-in-email', style="padding-bottom: 0;margin: 15px 22px 0px;") email address
							input#sign-in-email.sm-text-input.sm-text-m.sm-text-input-full-width(type="text" placeholder="mapper@stuffmapper.com", style="margin: 0px 20px;",ng-keyup="loginKeyUp()", ui-keypress="{enter:'login()'}")
							label.input-label.sm-full-width.sm-text-m(for='sign-in-password', style="padding-bottom: 0;margin: 0px 22px 0px;") password
							input#sign-in-password.sm-text-input.sm-text-m.sm-text-input-full-width(type="password" placeholder="......", style="margin: 0px 20px;",ng-keyup="loginKeyUp()", ui-keypress="{enter:'login()'}")
							//- #sign-in-password-eye.fa.fa-eye(style="position:absolute;top:268px;right:20px;height:20px;width:20px;cursor: pointer;")
							.sm-full-width(style="height: 20px;")
								#sign-in-forgot-password.sm-text-s(style="float: right;" ng-click="forgotPassword()") forgot password?
							#sign-in-error-warning-container(style="width:100%;display:block;position:relative;")
							input#sign-in-sign-in-button.sm-button.sm-button-default.sm-text-l.sm-button-ghost-light-solid.sm-button-full-width(style="bottom: 0px;text-align: center;position: absolute;", type="button" value="Sign in" ng-click="login()")
							//.sm-button-group(style="width: 100%;display:block;margin-top: -20px;")
							//	.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
							//		input#sign-in-sign-in-button.sm-button.sm-button-default.sm-text-m(type="button" value="Sign In" ng-click="login()" style="margin:20px 10px;width:calc(100% - 10px);")
							//	.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
							//		input#sign-in-sign-up-button.sm-button.sm-button-default.sm-text-m(type="button" value="Sign Up" ng-click="signUpStep()" style="margin:20px 10px;width:calc(100% - 10px);float: left;")
						#sign-in-up-phone-step.modal-step.animate-250.active
							h2.sm-modal-title.animate-250 Sign in / Sign up
							a.get-item-message-lister(href="javascript:void(0)" ng-click="signInOldFirstStep()", style="color: #fff;") Did you sign up without a phone number? >
							div.sm-full-width
								label.input-label.sm-full-width.sm-text-m(for='sign-in-up-phone-number', style="padding-bottom: 0;margin: 15px 2px 0px;") phone number
								input#sign-in-up-phone-number.sm-text-input.sm-text-m.sm-text-input-full-width(type="text", data-initial-country="us",ng-keyup="signInUpPhoneKeyUp()", ui-keypress="{enter:'signInUpPhone()'}", pattern="[0-9]*", placeholder="(###) ###-####")
							div.sm-full-width.sm-text-s
								span(class="fa fa-info-circle info-icon",aria-hidden="true")
								i.input-help-text
									| &nbsp; You'll verify your account and receive notifications through SMS.
							#sign-in-up-phone-error-warning-container(style="width:100%;display:block;position:relative;")
							input#sm-sign-in-up-phone-button.sm-button.sm-button-default.sm-text-l.sm-button-ghost-light-solid.sm-button-full-width(style="bottom: 0px;text-align: center;position: absolute;", type="button" value="Continue" ng-click="signInUpPhone()")
						#sign-up-phone-confirm-step.modal-step.animate-250.hidden-modal
							h2.sm-modal-title Confirm account
							.modal-back-button(ng-click="signUpPhoneBack()")
							label.input-label.sm-full-width.sm-text-m(for='sign-up-phone-confirm-code', style="padding-bottom: 0;margin: 15px 22px 0px;") confirmation code:
							input#sign-up-phone-confirm-code.sm-text-input.sm-text-m.sm-text-input-full-width(ng-keyup="signUpPhoneConfirmKeyUp()",type="text" placeholder="######", style="margin: 0px 20px;", minlength="6", maxlength="6", ui-keypress="{enter:'signUpPhoneConfirm()'}", pattern="[0-9]*")
							div.sm-full-width.sm-text-s
								span(class="fa fa-info-circle info-icon",aria-hidden="true")
								i.input-help-text
									| &nbsp; Check your SMS messages for the confirmation code to verify your account.
								hr
							div.sm-full-width.checkbox.checkbox-info#sign-up-phone-confirm-terms
								input#sign-up-phone-confirm-terms-label(type='checkbox', value='', ng-click="signUpPhoneConfirmTermsKeyUp()")
								label(for="sign-up-phone-confirm-terms-label")
									|	<span style="cursor: text;">I agree to </span><a href="/useragreement" target="_blank">terms & conditions</a>.
							#sign-up-phone-confirm-error-warning-container(style="width:100%;display:block;position:relative;")
							input#sm-sign-up-phone-confirm-button.sm-button.sm-button-default.sm-text-l.sm-button-ghost-light-solid.sm-button-full-width(style="bottom: 0px;text-align: center;position: absolute;", type="button" value="Sign up" ng-click="signUpPhoneConfirm()")
							//input#sm-sign-up-phone-confirm-button(ng-class="{'sm-button-ghost-light-solid' : signUpPhoneConfirmForm.phone_number.$invalid, 'sm-button-default' : signUpPhoneConfirmForm.phone_number.$valid}").sm-button.sm-text-l.sm-button-full-width(style="bottom: 0px;text-align: center;position: absolute;", type="button" value="Sign up" ng-click="signUpPhoneConfirm()")
						#sign-in-phone-confirm-step.modal-step.animate-250.hidden-modal
							h2.sm-modal-title Complete sign in
							.modal-back-button(ng-click="signInPhoneBack()")
							//input#sign-in-phone-confirm-code.sm-sign-in-text-inputs.sm-text-input.sm-text-input-full-width(type="text" placeholder="######")
							label.input-label.sm-full-width.sm-text-m(for='sign-in-phone-confirm-code', style="padding-bottom: 0;margin: 15px 22px 0px;") confirmation code:
							input#sign-in-phone-confirm-code.sm-text-input.sm-text-m.sm-text-input-full-width(ng-keyup="signInPhoneConfirmKeyUp()", type="text" placeholder="######",minlength="6", maxlength="6", style="margin: 0px 20px;", ui-keypress="{enter:'signInPhoneConfirm()'}", pattern="[0-9]*")
							div.sm-full-width.sm-text-s
								span(class="fa fa-info-circle info-icon",aria-hidden="true")
								i.input-help-text
									| &nbsp; Check your SMS messages for your sign in code.
							#sign-in-phone-confirm-error-warning-container(style="width:100%;display:block;position:relative;")
							input#sm-sign-in-phone-confirm-button.sm-button.sm-button-default.sm-text-l.sm-button-ghost-light-solid.sm-button-full-width(style="bottom: 0px;text-align: center;position: absolute;", type="button" value="Sign in" ng-click="signInPhoneConfirm()")
						#sign-up-step.modal-step.animate-250.hidden-modal
							h2.sm-modal-title Sign Up
							.modal-back-button(ng-click="signUpBack()")
							input#sign-up-email.sm-sign-up-text-inputs.sm-text-input.sm-text-input-full-width(type="text" placeholder="email address *")
							input#sign-up-password1.sm-sign-up-text-inputs.sm-text-input.sm-text-input-full-width(type="password" placeholder="password *")
							input#sign-up-fname.sm-sign-up-text-inputs.sm-text-input.sm-text-input-full-width(type="text" placeholder="first name *")
							input#sign-up-lname.sm-sign-up-text-inputs.sm-text-input.sm-text-input-full-width(type="text" placeholder="last name *")
							//#toggle-password-visibility.fa.fa-eye(ng-click="toggleVisibility()")
							.sm-text-s.sm-full-width(style="margin-bottom: 0px") *required field
							#sign-up-error-warning-container(style="width:100%;display:block;position:relative;")
							.privacy-and-terms-container
								p(style="margin: 0 auto;font-size: 14px;text-align: center;width:90%;")
									| By clicking "Sign Up", you agree to the
									a(href="/privacy" target="_blank" style="margin-left: 3px;margin-right:3px;") Privacy
									| and
									a(href="useragreement" target="_blank" style="margin-left: 3px;") Terms
							input#sm-sign-up-button.sm-button.sm-button-default.sm-text-l.sm-button-full-width(type="button" value="Sign Up" ng-click="signUp()")
						#confirmation-step.modal-step.animate-250.hidden-modal
							h2.sm-modal-title Almost Done!
							.modal-back-button(ng-click="signUpBack()")
							.confirmation-container
								.sm-text-l.sm-full-width.confirmation-text-top(style="text-align: center;") Please check your email
								#confirmation-step-icon.fa.fa-envelope.sm-hidden
								.sm-text-l.sm-full-width.confirmation-text-bottom(style="bottom: 0px;text-align: center;position: absolute;") to verify your account
							input#sm-sign-up-ok-fine-button.sm-button.sm-button-default.sm-button-full-width(type="button" value="Ok" ng-click="hideModal('sign-in-up-modal')")
						#sign-up-forgot-password-step.modal-step.animate-250.hidden-modal
							h2.sm-modal-title Password reset
							.modal-back-button(ng-click="signUpBack()")
							.confirmation-container
								.sm-text-m.sm-full-width.confirmation-text Enter your email to reset your password
								input#sign-up-password-reset-email-input.sm-text-input.sm-text-m.sm-text-input-full-width(type="text" placeholder="email address",ng-keyup="passwordConfirmationStepKeyUp()", ui-keypress="{enter:'passwordConfirmationStep()'}")
								#sign-up-password-reset-errors
							input#sm-sign-up-reset-password-button1.sm-button.sm-button-default.sm-text-l.sm-button-ghost-light-solid.sm-button-full-width(type="button" value="Submit" ng-click="passwordConfirmationStep()" style="position: absolute; bottom:0px;")
						#sign-up-forgot-password-success-step.modal-step.animate-250.hidden-modal
							h2.sm-modal-title Reset
							.modal-back-button(ng-click="signUpBack()")
							.confirmation-container
								.sm-text-l.sm-full-width.confirmation-text-top(style="text-align: center;") Please check your email for instructions
								#password-confirmation-step-icon.fa.fa-envelope.sm-hidden
								.sm-text-l.sm-full-width.confirmation-text-bottom(style="bottom: 0px;text-align: center;position: absolute;") on resetting your password
							input#sm-sign-up-reset-password-button2-button.sm-button.sm-button-default.sm-text-l.sm-button-full-width(type="button" value="Ok" ng-click="hideModal('sign-in-up-modal')")
			#email-verification-modal.modal-window.modal-window-hidden.animate-500
				.modal-header
				.modal-close(ng-click="hideModal('email-verification-modal')")
					i.fa.fa-close
				.sm-modal-content
					.modal-steps
						#email-verification-step.modal-step.animate-250.active
							h2.sm-modal-title.animate-250 Email Verified!
							i.fa.fa-times-circle.sm-email-verification-icon.sm-hidden.animate-250
							#email-verification-message.sm-text-m.sm-full-width(style="text-align: center;position: absolute;bottom: calc(48px + 10%);") You have successfully verified your email address?
							input#email-verification-button1.sm-button.sm-button-default.sm-button-full-width.sm-text-m(style="position: absolute;bottom: 0px;" type="button" value="Sign In" ng-click="hideModal('email-verification-modal');delaySignIn();")
							input#email-verification-button2.sm-button.sm-button-default.sm-button-full-width.sm-text-m(style="position: absolute;bottom: 0px;" type="button" value="Continue" ng-click="hideModal('email-verification-modal');")
			#password-reset-modal.modal-window.modal-window-hidden.animate-500
				.modal-header
				.modal-close(ng-click="hideModal('password-reset-modal')")
					i.fa.fa-close
				.sm-modal-content
					.modal-steps
						#password-reset-step.modal-step.animate-250.active
							h2.sm-modal-title.animate-250 Password Reset
							input#sm-reset-password1.sm-text-input.sm-text-input-full-width(type="password" placeholder="password *")
							input#sm-reset-password2.sm-text-input.sm-text-input-full-width(type="password" placeholder="confirm password *")
							#sm-reset-password-error-warning-container(style="width:100%;display:block;position:relative;")
							input#password-reset-button.sm-button.sm-button-default.sm-button-full-width.sm-text-m(style="position: absolute;bottom: 0px;" type="button" value="Reset Password" ng-click="resetPassword();")
			#password-reset-failure-modal.modal-window.modal-window-hidden.animate-500
				.modal-header
				.sm-modal-content
					.modal-steps
						#password-reset-confirmation-failure-step.modal-step.animate-250.active
							h2.sm-modal-title.animate-250 Invalid Token
							i.fa.fa-times-circle.sm-email-verification-icon.sm-hidden.animate-250
							#email-verification-message.sm-text-m.sm-full-width(style="text-align: center;position: absolute;bottom: calc(48px + 10%);") Invalid password reset token!
							input#password-reset-confirmation-failure-button.sm-button.sm-button-default.sm-button-full-width.sm-text-m(style="position: absolute;bottom: 0px;" type="button" value="Continue" ng-click="hideModal('password-reset-failure-modal');")
			#phone-update-modal.modal-window.modal-window-hidden.animate-500
				.modal-header
				//.modal-close(ng-click="hideModal('phone-update-modal')")
				//	i.fa.fa-close
				.sm-modal-content
					.modal-steps
						#phone-update-step.modal-step.animate-250.active
							h2.sm-modal-title.animate-250 Update account
							div.update-phone-number
								p(style="margin: 10px 0 10px")
									b Signing into Stuffmapper just got better!
								| What are benefits?
								ul
									li You'll get timely alerts from messaging
									li It's an easier and more secure way to log in.
									li Verifies identity, making Stuffmapper safer for everyone.
							b.sm-text-m.sm-full-width Enter your phone number to continue.
							div.sm-full-width
								label.input-label.sm-full-width.sm-text-m(for='phone-update-modal-field', style="padding-bottom: 0;margin: 15px 2px 0px;") phone number
								input#phone-update-modal-field.sm-text-input.sm-text-m.sm-text-input-full-width(ng-keyup="updatePhoneKeyUp()",type="text", data-initial-country="us", ng-intl-tel-input, pattern="[0-9]*", placeholder="(###) ###-####", ui-keypress="{enter:'updatePhone()'}")
							div.sm-full-width.sm-text-s
								span(class="fa fa-info-circle info-icon",aria-hidden="true")
								i.input-help-text
									| &nbsp; You'll verify your account and receive notifications through SMS.
							#phone-update-modal-error-warning-container(style="width:100%;display:block;position:relative;")
							input#phone-update-modal-update-button.sm-button.sm-button-default.sm-text-l.sm-button-ghost-light-solid.sm-button-ghost-light-solid.sm-button-full-width(style="position: absolute;bottom: 0px;" type="button" value="Continue" ng-click="updatePhone();")
						#phone-update-confirm-modal-step.modal-step.animate-250.hidden-modal
							h2.sm-modal-title Complete sign in
							.modal-back-button(ng-click="phoneUpdateModalBack()")
							label.input-label.sm-full-width.sm-text-m(for='sign-up-phone-confirm-code', style="padding-bottom: 0;margin: 15px 22px 0px;") confirmation code:
							input#phone-update-confirm-code.sm-text-input.sm-text-m.sm-text-input-full-width(ng-keyup="updatePhoneVerificationKeyUp()",type="text" placeholder="######", style="margin: 0px 20px;", minlength="6", maxlength="6", ui-keypress="{enter:'updatePhoneVerification()'}", pattern="[0-9]*")
							div.sm-full-width.sm-text-s
								span(class="fa fa-info-circle info-icon",aria-hidden="true")
								i.input-help-text
									| &nbsp; Check your SMS messages for the confirmation code to verify your account.
							#phone-update-confirm-error-warning-container(style="width:100%;display:block;position:relative;")
							input#phone-update-confirm-modal-button.sm-button.sm-button-default.sm-text-l.sm-button-ghost-light-solid.sm-button-full-width(style="bottom: 0px;text-align: center;position: absolute;", type="button" value="Continue" ng-click="updatePhoneVerification()")
			#user-setting-phone-update-modal.modal-window.modal-window-hidden.animate-500
				.modal-header
				.modal-close(ng-click="hideModal('user-setting-phone-update-modal')")
					i.fa.fa-close
				.sm-modal-content
					.modal-steps
						#user-setting-phone-update-confirm-modal-step.modal-step.animate-250.active
							h2.sm-modal-title Update phone #
							label.input-label.sm-full-width.sm-text-m(for='user-setting-phone-update-confirm-code', style="padding-bottom: 0;margin: 15px 22px 0px;") confirmation code:
							input#user-setting-phone-update-confirm-code.sm-text-input.sm-text-m.sm-text-input-full-width(ng-keyup="userSettingPhoneVerificationCodeKeyUp()",type="text" placeholder="######", style="margin: 0px 20px;", minlength="6", maxlength="6", ui-keypress="{enter:'userSettingPhoneVerificationCode()'}", pattern="[0-9]*")
							div.sm-full-width.sm-text-s
								span(class="fa fa-info-circle info-icon",aria-hidden="true")
								i.input-help-text
									| &nbsp; Check your SMS messages for the confirmation code to verify your account.
							#user-setting-phone-update-confirm-error-warning-container(style="width:100%;display:block;position:relative;")
							input#user-setting-phone-update-confirm-modal-button.sm-button.sm-button-default.sm-text-l.sm-button-ghost-light-solid.sm-button-full-width(style="bottom: 0px;text-align: center;position: absolute;", type="button" value="Continue" ng-click="userSettingPhoneVerificationCode()")
			#add-accounts-update-modal.modal-window.update-social-news-letter-modal-window.modal-window-hidden.animate-500
				.modal-header
				.modal-close(ng-click="hideModal('add-accounts-update-modal')")
					i.fa.fa-close
				.sm-modal-content
					.modal-steps
						#add-accounts-update-step.modal-step.animate-250.active
							h2.sm-modal-title.animate-250 Add accounts
							div.update-social-news-letter
								p
									b Account Confirmed
								| You can use your phone number <b ng-bind="user.phone_number"></b> to access your account in future.
								br
								p(style="margin: 10px 0 10px")
									| You can also add your Google, Facebook, or email account if you want the ability sign in using those options. <b>You can also add them later in your profile settings</b>.
							.container-fluid
								span(ng-form="addAccountForm", novalidate)
									.form-group
									label.control-label.input-label.requiredField
										| Connect Accounts
									p
										button.btn.btn-lg.btn-block(type='button', ng-click="googleOAuth()", style="border-radius: 0px;height:52px; background-color: #AAB2BE;", ng-show="!user.google_id")
											i.fa.fa-google-plus-square.pull-left(style="color: white")
											|  <span style="color: white">&nbsp;Connect to Google</span>
										button.btn.btn-lg.btn-block(type='button', style="border-radius: 0px;height:52px; background-color: #dd4b39;", ng-show="user.google_id")
											i.fa.fa-google-plus-square.pull-left(style="color: white")
											|  <span style="color: white">&nbsp;Connected</span>
									p
										button.btn.btn-lg.btn-block(type='button', ng-click="facebookOAuth()", style="border-radius: 0px;height:52px; background-color: #AAB2BE;margin-top:15px", ng-show="!user.facebook_id")
											i.fa.fa-facebook-square.pull-left(style="color: white")
											|  <span style="color: white">&nbsp;Connect to Facebook</span>
										button.btn.btn-lg.btn-block(type='button', style="border-radius: 0px;height:52px; background-color: #4966b6;margin-top:15px", ng-show="user.facebook_id")
											i.fa.fa-facebook-square.pull-left(style="color: white")
											|  <span style="color: white">&nbsp;Connected</span>
									.form-group
										label.control-label.input-label.requiredField(for='add-accounts-update-email')
											| Email address
										input#add-accounts-update-email.form-control.sm-text-input.sm-text-m(ng-model="user.email",name="email" placeholder='example@stuffmapper.com', type='text',ng-pattern="emailPattern")
										//span#add-accounts-email-progress(class="fa fa-exclamation-circle warning-icon help-block",aria-hidden="true", ng-show="(user.email.length != 0")
										//	i.input-help
										//		| &nbsp; You still need to verify that this is your email address. Check your email for verification link.
										span#add-accounts-email-invalid(class="fa fa-times-circle-o danger-icon help-block", aria-hidden="true",ng-show="addAccountForm.email.$error.pattern")
											i.input-help
												| &nbsp; Email address is invalid.
									.checkbox.checkbox-info
										input#add-accounts-email-news.styled(type='checkbox', checked='',ng-model="user.news_letter")
										label(for='add-accounts-email-news')
											| Receive news and announcements from Stuffmapper
									.form-group
										div#add-accounts-warning-container
									.form-group
										div.text-center
											input#add-accounts-button1.sm-button.sm-button-default.sm-text-l.btn-block(type='button', style="bottom: 0px;text-align: center;margin: 0px 0px 15px 0px;position: absolute;max-width: 370px;", value="I'll do this later!", data-ng-click='closeAddAccount();', ng-if="!addAccountForm.$dirty")
											//input#add-accounts-button2.btn.sm-button.sm-button-default.sm-text-l.btn-block(type='button', style="bottom: 0px;text-align: center;margin: 0px 0px 15px 0px;", value="Done!",data-ng-click='updateAddAccount();', ng-if="addAccountForm.$dirty && (settings.email == null)?false:settingForm.email.$valid")
											input#add-accounts-button3.btn.sm-button.sm-button-default.sm-text-l.btn-block(type='button', style="bottom: 0px;text-align: center;margin: 0px 0px 15px 0px;position: absolute;max-width: 370px;", value="Done!",data-ng-click='updateAddAccount();', ng-if="addAccountForm.$dirty || user.google_id || user.facebook_id")
			#dibs-info-modal.modal-window.modal-window-hidden.animate-250
				.modal-header
				.sm-modal-content
					h2.sm-modal-title.animate-250 Dibs stuff to get it!
					#dibs-info-modal-container.step-container
						#dibs-info-modal-body.give-location-text(style="top:45%;transform: translate(-50%, -50%); max-width: 95%; left:50%; text-align: left;")
							| Want this? Exchanges begin with Dibs.<br /><br />Dibs to hide stuff from everyone else on map and get exclusive communication with lister to complete exchange of item. If applicable, you will be automatically refunded if your Dibs is rejected or your Dibs is unfulfilled by the lister. <br />[For more on refunds see <a href="/faq#sm-faq-refund-policy" target="_blank">FAQ</a>]
						button#dibs-info-modal-button.sm-button.sm-button-default.sm-text-m.sm-button-full-width(style="position: absolute;bottom: 0px;" type="button") Ok
			#undibs-confirm-modal.modal-window.modal-window-hidden.animate-250
				.modal-header
				.sm-modal-content
					h2.sm-modal-title.animate-250 unDibs Item
					#undibs-confirm-modal-container.step-container
						#undibs-confirm-modal-body.give-location-text(style="top:45%;transform: translate(-50%, -50%); max-width: 95%; left:50%;")
						.sm-button-group(style="z-index:3;width: 100%;display:block;position:absolute;bottom:0px;")
							.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
								button#my-item-undibs-cancel.give-reject-parent.sm-button.sm-text-l.sm-button-ghost.sm-button-ghost-solid.sm-button-negative.animate-250(style="margin:20px 10px;width:calc(100% - 10px);") cancel
							.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
								button#my-item-undibs-confirm.sm-button.sm-button-negative.sm-text-l.animate-250(style="color:white;margin:20px 10px;width:calc(100% - 10px);float: left;") unDibs
			#unattended-dibs-confirm-modal.modal-window.modal-window-hidden.animate-250
				.modal-header
				.sm-modal-content
					h2.sm-modal-title.animate-250 Dibs Confirmation
					#unattended-dibs-confirm-modal-container.step-container
						#unattended-dibs-confirm-modal-body.give-location-text(style="top:45%;transform: translate(-50%, -50%); max-width: 95%; left:50%;")
						.sm-button-group(style="z-index:3;width: 100%;display:block;position:absolute;bottom:0px;")
							.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
								button#unattended-dibs-modal-cancel.give-reject-parent.sm-button.sm-text-l.sm-button-ghost.sm-button-ghost-solid.sm-button-negative.animate-250(style="margin:20px 10px;width:calc(100% - 10px);") cancel
							.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
								button#unattended-dibs-modal-confirm.sm-button.sm-button-negative.sm-text-l.animate-250(style="color:white;margin:20px 10px;width:calc(100% - 10px);float: left;") Confirm Dibs
			#attended-dibs-without-payment-confirm-modal.modal-window.modal-window-hidden.animate-250
				.modal-header
				.sm-modal-content
					h2.sm-modal-title.animate-250 Dibs Confirmation
					#attended-dibs-confirm-modal-container.step-container
						#attended-dibs-confirm-modal-body.give-location-text(style="top:45%;transform: translate(-50%, -50%); max-width: 95%; left:50%;")
						.sm-button-group(style="z-index:3;width: 100%;display:block;position:absolute;bottom:0px;")
							.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
								button#attended-dibs-modal-cancel.give-reject-parent.sm-button.sm-text-l.sm-button-ghost.sm-button-ghost-solid.sm-button-negative.animate-250(style="margin:20px 10px;width:calc(100% - 10px);") cancel
							.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
								button#attended-dibs-modal-confirm.sm-button.sm-button-negative.sm-text-l.animate-250(style="color:white;margin:20px 10px;width:calc(100% - 10px);float: left;") Confirm Dibs

			#reject-confirm-modal.modal-window.modal-window-hidden.animate-250
				.modal-header
				.sm-modal-content
					h2.sm-modal-title.animate-250 Reject Dibs
					#reject-confirm-modal-container.step-container
						#reject-confirm-modal-body.give-location-text(style="top:45%;transform: translate(-50%, -50%); max-width: 95%; left:50%;")
						.sm-button-group(style="z-index:3;width: 100%;display:block;position:absolute;bottom:0px;")
							.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
								button#my-item-reject-cancel.give-reject-parent.sm-button.sm-text-l.sm-button-ghost.sm-button-ghost-solid.sm-button-negative.animate-250(style="margin:20px 10px;width:calc(100% - 10px);") cancel
							.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
								button#my-item-reject-confirm.sm-button.sm-button-negative.sm-text-l.animate-250(style="color:white;margin:20px 10px;width:calc(100% - 10px);float: left;") reject
			#delete-confirm-modal.modal-window.modal-window-hidden.animate-250
				.modal-header
				.sm-modal-content
					h2.sm-modal-title.animate-250 Delete Item
					#delete-confirm-modal-container.step-container
						#delete-confirm-modal-body.give-location-text(style="top:45%;transform: translate(-50%, -50%); max-width: 95%; left:50%;")
						.sm-button-group(style="z-index:3;width: 100%;display:block;position:absolute;bottom:0px;")
							.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
								button#my-item-delete-cancel.give-reject-parent.sm-button.sm-text-l.sm-button-ghost.sm-button-ghost-solid.sm-button-negative.animate-250(style="margin:20px 10px;width:calc(100% - 10px);") cancel
							.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
								button#my-item-delete-confirm.sm-button.sm-button-negative.sm-text-l.animate-250(style="color:white;margin:20px 10px;width:calc(100% - 10px);float: left;") delete
			#complete-confirm-modal.modal-window.modal-window-hidden.animate-250
				.modal-header
				.sm-modal-content
					h2.sm-modal-title.animate-250 Confirm Pick-up
					#complete-confirm-modal-container.step-container
						#complete-confirm-modal-body.give-location-text(style="top:45%;transform: translate(-50%, -50%); max-width: 95%; left:50%;")
						.sm-button-group(style="z-index:3;width: 100%;display:block;position:absolute;bottom:0px;")
							.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
								button#my-item-complete-cancel.give-reject-parent.sm-button.sm-text-l.sm-button-ghost.sm-button-ghost-solid.sm-button-negative.animate-250(style="margin:20px 10px;width:calc(100% - 10px);") not yet...
							.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
								button#my-item-complete-confirm.sm-button.sm-button-positive.sm-text-l.animate-250(style="color:white;margin:20px 10px;width:calc(100% - 10px);float: left;") yes!
			#complete-unattended-confirm-modal.modal-window.modal-window-hidden.animate-250
				.modal-header
				.sm-modal-content
					h2.sm-modal-title.animate-250 Confirm Pick-up
					#complete-unattended-confirm-modal-container.step-container
						#complete-unattended-confirm-modal-body.give-location-text(style="top:45%;transform: translate(-50%, -50%); max-width: 95%; left:50%;")
						.sm-button-group(style="z-index:3;width: 100%;display:block;position:absolute;bottom:0px;")
							.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
								button#my-item-complete-unattended-cancel.give-reject-parent.sm-button.sm-text-l.sm-button-ghost.sm-button-ghost-solid.sm-button-negative.animate-250(style="margin:20px 10px;width:calc(100% - 10px);") not yet...
							.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
								button#my-item-complete-unattended-confirm.sm-button.sm-button-positive.sm-text-l.animate-250(style="color:white;margin:20px 10px;width:calc(100% - 10px);float: left;") yes!
			#item-gone-confirm-modal.modal-window.modal-window-hidden.animate-250
				.modal-header
				.sm-modal-content
					h2.sm-modal-title.animate-250 Unattended Item Pick-up
					#item-gone-confirm-modal-container.step-container
						#item-gone-confirm-modal-body.give-location-text(style="top:45%;transform: translate(-50%, -50%); max-width: 95%; left:50%;")
						.sm-button-group(style="z-index:3;width: 100%;display:block;position:absolute;bottom:0px;")
							.sm-button-group-2.sm-button-group-left(style="width:calc(50% - 20px);display:inline-block;float:left;margin-left:10px;")
								button#my-item-item-gone-cancel.give-reject-parent.sm-button.sm-text-l.sm-button-ghost.sm-button-ghost-solid.sm-button-negative.animate-250(style="margin:20px 10px;width:calc(100% - 10px);") not yet...
							.sm-button-group-2.sm-button-group-right(style="width:calc(50% - 20px);display:inline-block;float:left;margin:0px 10px;")
								button#my-item-item-gone-confirm.sm-button.sm-button-positive.sm-text-l.animate-250(style="color:white;margin:20px 10px;width:calc(100% - 10px);float: left;") yes!
		#popups
			#profile-popup.popups.popups-top-right.animate-250.hidden-popup
				//- li
				//- 	i.fa.fa-clock-o
				//- 	span(ng-click="secureState('stuff.my.watchlist')") Watchlist
				//li(ui-sref="stuff.get")
				//	i.fa.fa-home
				//	span Home
				li(ui-sref="about")
					i.fa.fa-rocket
					span About Us
				li(ng-click="secureState('stuff.my.settings')")
					i.fa.fa-cog
					span Profile & Settings
				li(ng-click="openLockScreen()")
					i.fa.fa-graduation-cap
					span Tutorial
				li(ui-sref="faq")
					i.fa.fa-question
					span FAQ
				li(ui-sref="privacy")
					i.fa.fa-user-secret
					span Privacy
				li(ui-sref="useragreement")
					i.fa.fa-file-text
					span Terms
				li#sign-out-option-dropdown(style="display:none;" ng-click="logout()")
					i.fa.fa-sign-out
					span Sign Out
				li#sign-in-option-dropdown(style="display:block;" ng-click="openModal('modal')")
					//- ng-click="openModal('modal')")
					i.fa.fa-sign-in
					span Sign in
		#fullscreen-images.animate-250(style="display:none;width: 100%; height: 100%;position: absolute;z-index:99999;background-color: rgba(0,0,0,0.7);top:0px;left:0px;")
			.top-bar
				#fullscreen-icon-exit.fa.fa-times(style="color: #fff;right: 0px;position: absolute;font-size: 24px;cursor: pointer;height: 32px;width: 32px;text-align: center;line-height: 32px;")
			.image-container(style="width:calc(100% - 20px); height: calc(100% - 20px);margin:10px;position: absolute;background-size:contain;background-position:50% 50%;background-repeat:no-repeat;")
			.bottom-bar
		ul#side-menu.side-menu.sm-hidden.animate-250
			#close-menu-button.fa.fa-times(ng-click="toggleSideMenu()")
			li.side-menu-header
			li.side-menu-item
				a.side-menu-link(ui-sref="about", ng-click="toggleSideMenu()")
					.side-menu-icon.fa.fa-rocket
					span About Us
			//- li.side-menu-item
			//- 	a.side-menu-link(ui-sref="stuff.my.watchlist", ng-click="toggleSideMenu()")
			//- 		.side-menu-icon.fa.fa-bookmark
			//- 		span Watchlist
			li.side-menu-item
				a.side-menu-link(ng-click="secureState('stuff.my.settings');toggleSideMenu();")
					.side-menu-icon.fa.fa-cog
					span Profile & Settings
			li.side-menu-item
				a.side-menu-link(ng-click="toggleSideMenu();openLockScreen()")
					.side-menu-icon.fa.fa-graduation-cap
					span Tutorial
			li.side-menu-item
				a.side-menu-link(ui-sref="faq", ng-click="toggleSideMenu()")
					.side-menu-icon.fa.fa-question
					span FAQ
			li#side-menu-logout.side-menu-item(style="display:none;")
				a.side-menu-link(ng-click="logout(); toggleSideMenu();")
					.side-menu-icon.fa.fa-sign-out
					span Sign Out
			li#side-menu-signin.side-menu-item(style="display:block;")
				a.side-menu-link(ng-click="openModal('modal'); toggleSideMenu();")
					.side-menu-icon.fa.fa-sign-out
					span Sign In
			.side-menu-footer
				a(ui-sref="/faq#landfill-tracker")
					.new-thing Stuff saved from landfill
					#landfill-tracker-menu
				#stuffmapper-logo-container-menu
					img#logo-menu(src="img/logo-txt-only-bold.png" ng-click="aboutUs(); toggleSideMenu()")
					.tiny-links
						a(ui-sref="about" ng-click="toggleSideMenu()") about
						span.tiny-links-separator |
						a(ui-sref="useragreement", ng-click="toggleSideMenu()") terms
						span.tiny-links-separator |
						a(ui-sref="privacy" ng-click="toggleSideMenu()") privacy
		#side-menu-background.side-menu-background.animate-250.sm-hidden(ng-click="toggleSideMenu()")
		#container
			#header
				#header-menu-icon-container(ng-click="toggleSideMenu()")
					#header-menu-icon.menu-icon.fa.fa-bars
				a(ui-sref="stuff.get")
					img#logo(src="img/logo-txt-only-bold.png")
				#landfill-tracker-header
				#landfill-tracker-description.sm-text-xs Stuff saved from landfill
				#user-portal
					i#sign-in-button.fa.fa-bars(ng-click="userButton()")
			#map-view-container
				#map-view.map-view-open
				#sm-map-button-container
					#sm-map-zoom-in.fa.fa-plus.noselect(style="padding: 5px;font-size: 18px;text-align: center;width: 100%;")
					#sm-map-zoom-out.fa.fa-minus.noselect(style="padding: 5px;font-size: 18px;text-align: center;width: 100%;")
					img#get-location.noselect(src="/img/mylocation1.png")
				img#center-marker.animate-250(src="img/test-pin1.png")
			#content.animate-500(ui-view style="pointer-events:none;")
